.bv-cv2-cleanslate {
	direction: rtl!important;
	text-align: right!important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-content-item-product-image-offset-on .bv-content-data-summary, .bv-cv2-cleanslate .bv-core-container-66 .bv-content-item-avatar-offset-on .bv-content-data-summary {
    padding-right: 60px!important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-rating-stars-on {
    float: right!important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-content-title-container {
    float: right!important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-content-details-offset-off {
    float: right!important;
    width: 90%!important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-content-item .bv-feedback-container {
    float: right!important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-content-data dl dt {
    float: right !important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-content-item .bv-feedback-container {
    float: right!important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-action-bar-header {
    float: right!important;
}

.bv-cv2-cleanslate .bv-core-container-66 .bv-toplevel-actions, .bv-cv2-cleanslate .bv-core-container-66 .bv-write-review-container, .bv-cv2-cleanslate .bv-core-container-66 .bv-read-review-container, .bv-cv2-cleanslate .bv-core-container-66 .bv-ask-question-container, .bv-cv2-cleanslate .bv-core-container-66 .bv-client-logo-container {
    float: left!important;
}